@charset 'UTF-8';

/* Conteúdo Principal */
.main-conteiner {
    max-width: 1000px;
    margin-bottom: 50px;
}

.main-block {
    margin-top: 5%;
    padding: 10px;
    height: auto;
    width: 88%;
    border-radius: 1%;
    overflow: auto;
    border: 2px solid black;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.600);
}

.input-1 {
    font-family: var(--font1), Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    min-width: 80%;
    margin-top: 20px;
    height: 10%;
    border: 2px solid black;
    display: block;
}

@media screen and (max-width: 480px){ /* Input mobile, font-size e tamanho*/
    .input-1 {
        padding: 1%;
        font-size: 1.2em;
        min-width: 96%;
    }
}

.button-1 {
    font-family: var(--font1);
    font-weight: bold;
    color: var(--color1);
    padding: 10px;
    margin-top: 10%;
    margin-bottom: 5%;
    font-size: 1.2em;
    border-radius: 10px;
    display: block;
}

.button-1:hover {
    border: 2px solid #be7676;
}

.content-music-exemple { /*Conteiner que agrupa as músicas exemplos e conteúdo*/
    max-width: 100%;
    margin-bottom: 0px;
    overflow: auto;
}

.music-exemple-background {
    height: 54px;
    width: 300px;
    background-color:#f0f3f4;
    margin-top: 5%;
    border: 2px solid;
}

.heading-music {
    max-width: 80%;
    font-size: 1.2em;
    margin-top: 4%;
    margin-bottom: -4%;
}

.conteiner-image {
    margin-top: 5%;
    max-height: 725px;
    width: 90%;
    background-color: rgb(0, 0, 0);
}

.image-site {
    max-width: 99%;
    max-height: 100%;
}